     h1 {
          color:rgb(218, 218, 218); 
          font-size:7cqmin;
           font: size 3px;; 
          font-family:Arial ;text-align:center;

     }

     button {
          color: rgb(0, 255, 255);
          font: size 10px;
           font: size 5px;
            font-family:Arial ;
            text-indent: 25px;
          margin-bottom: 10px;
     }

     a {
          
          color: rgb(23, 24, 24);
          font: size 20px;
           font: size 70px;
            font-family:Arial ;
            text-indent: 25px;
          margin-bottom: 10px;

     }

     p {
          color:rgb(218, 218, 218); 
           font-size:50px;
           font: size 1px;; 
          font-family:Arial ;
          text-indent: 25px;
          margin-bottom: 10px;
     }

     h2 {
           color:rgb(218, 218, 218); 
           font-size:50px;
           font: size 1px;; 
          font-family:Arial ;
          text-indent: 25px;
          margin-bottom: 10px;
     }
     
     li {
          color:rgb(218, 218, 218); 
           font-size:50px;
           font: size 1px;; 
          font-family:Arial ;
          text-indent: 25px;
          margin-bottom: 10px;
     }
     
     img {
          padding: 90px 200px 25px 
     }

     .all {
          background-color:rgb(43, 44, 44) ;
          padding: 20px 50px;
     }

     h4  {
           color: rgb(23, 24, 24);
          font: size 200px;
           font: size 500px;
            font-family:Arial ;
            text-indent: 25px;
          margin-bottom: 10px;
     }

     .part {
background-color:rgb(122, 122, 122) ;
     }

     .partner {
          color:rgb(48, 48, 48); 
           font-size:50px;
           font: size 1px;; 
          font-family:Arial ;
     }
     
     u {
 color:rgb(218, 218, 218); 
           font-size:50px;
           font: size 1px;; 
          font-family:Arial ;
          text-indent: 60px;
          margin-bottom: 10px;
     }
     .work {
          color:rgb(218, 218, 218); 
           font: size 30px;
           font: size 1px;; 
          font-family:Arial ;
          text-indent: 60px;
          margin-bottom: 10px;
     }

     .mywork {
           background-color: rgb(85, 85, 85);
          font: size 10px;
           font: size 5px;
            font-family:Arial ;
            text-indent: 60px;
          margin-bottom: 10px;

     }

     .net {
           background-color: rgb(122, 122, 122);
          font: size 10px;
           font: size 5px;
            font-family:Arial ;
            text-indent: 60px;
          margin-bottom: 10px;
     }

   
     
    
     